![data-x](http://oi64.tinypic.com/o858n4.jpg)

---
# Homework 3: Pandas
### Pandas BKHW with Stock Data and Correlation Examples


**Author list:** Ikhlaq Sidhu & Alexander Fred Ojala


**License Agreement:** Feel free to do whatever you want with this code

___

## Homework Section

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Part 1: Country statistics

#### 1) Read in a CSV file called 'data3.csv' into a dataframe called df.
#### 2) Display the first few lines

#### 3)  If you inspect the whole file in an editor, you will see that the bottom 8 lines in the frame need to be dropped.  Remove those 8 lines from df.  You can also use df.tail() to see the last lines.

#### 4) Drop columns: drop the columns Area Id, Variable Id, Symbol, and Md.  Hint Google 'delete a column in pandas

#### 5) # Convert the year column to pandas datetime?

Convert the 'Year' column string values to pandas datetime objects, where only the year is specified. To do this, simply run the code below (please review it carefully and make sure you understand what happens):

df['Year'] = pd.to_datetime(pd.Series(df['Year']).astype(int),format='%Y').dt.year
Run df.tail() to see if you get what you expect

#### 6) Print rows where Area is Iceland

#### 7) Print the years when the National Rainfall Index (NRI) was greater than 950 or less than 900 in Iceland, by using this code.  Put it ina dataframe called df_temp so you don't change the original 'df'

#### 8) Get al the rows of the original df area is United States of America 

a) put the USA into a df_usa data frame

b) Add the columns to ['GDP','NRI','PD','Area','Population']

c) delending on the 'Variable Name' put the value into respective column 'GDP','NRI','PD','Area', or 'Population'

Look into this syntax in case its helpful:
df['color'] = np.where(df['Set']=='Z', 'green', 'red')

d) Find the maximum value and minimum value of the 'NRI' column in the US (using pandas methods). What years do the min and max values occur?

#### 9) Show general statistics for columns 'GDP','NRI','PD', and 'Population'

# Part 2: Stocks

#### 10 a) Show a 3 x 3 correlation matrix for Nike, Apple, and Disney stock prices over the past year (see how to load these stock values from the lecture)

#### 10b) Show the same correlation matrix but over different time periods, 

i) the last 20 days
ii) the last 80 days

#### 11) Change the code so that it accepts a list of any stock symbols, ie ['NKE', 'APPL', 'DIS', ... ] and creates a correlation matrix for the time period of the past 100 days