# HOME WORK 1
## Complete this section and turn in before the next class

## 1. Create an empty Python list called 'a'

In [1]:
a = []

## 2. Store all values between 1-100 with increments of 03 (w/o Numpy) in 'a'

In [2]:
a = list(range(1,101,3))

## 3. Create a list called 'a2' with numbers fro 2-46 with 0.5 increments

In [3]:
a2 = [0.5*x for x in range(2*2,2*46+1)]

 ## 4. Double every even integer element of list 'a' from #2 
 ##  Store the results back in 'a'.

In [4]:
a = [x*2 for x in a]

## 5. Add all numbers in 'a' (except for the 2nd and the 21st element).

In [5]:
sum(a) - a[1] - a[20]

3304

## 6. Calculate the mean of a

In [6]:
float(sum(a)/max(len(a),1)) #permits empty strings

101.0

# LISTS AND STRINGS:
## 7. Create an empty list called b

In [7]:
b = []

## 8. In b store every word in the sentence as an element of its own.
### sentence:'I am so excited about Data-X. It is important to be able to work with data.'

In [8]:
s = 'I am so excited about Data-X. It is important to be able to work with data.'
b = [word.replace(".","") for word in s.split()]

## 9. Count the occurences of the lower-case letter ’e’ in the list b.

In [9]:
sum([word.count("e") for word in b])

4

## 10. Replace every lower- or upper-case letter ’i’ in the list b with a ’1’

In [10]:
b = [word.replace("i","1").replace("I","1") for word in b]

## 11. Append the string ”This is the end of the first HW” to the list b, 
## with every new word as an element of its own

In [11]:
s2 = "This is the end of the first HW"
b.extend(s2.split())

## 12. Print b, as ONE string backwards (starting with ”WH tsrif ...”)

In [12]:
print(" ".join(b)[::-1])

WH tsrif eht fo dne eht si sihT atad ht1w krow ot elba eb ot tnatropm1 s1 t1 X-ataD tuoba det1cxe os ma 1



## 13. Put the following in a dictionary called 'codes':
### Keys: 1001, 1002, 1003, 1004, 1005   
### Values: 'Alpa', Beta, 'Gamma, 'Delta', 'Tau'

## then traverse the dictionary by keys and change every value to be all lower case

In [13]:
keys = [1001, 1002, 1003, 1004, 1005]
values = ['Alpa', 'Beta', 'Gamma', 'Delta', 'Tau'] #typos in question? fixed here
codes = dict(zip(keys, values))

## 14. Set A=( 1,3,5,7,8,9) Set B=(2,5,30,10).
## Find Union of A and B.

In [14]:
A = (1,3,5,7,8,9); B = (2,5,30,10)
A + B

(1, 3, 5, 7, 8, 9, 2, 5, 30, 10)